
body{
    font-family: 'lato', sans-serif;
    background-image: url(/index/imagens/fundo.jpg)
}

button{
    cursor: pointer;
}









#box{
    background: linear-gradient(135deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.274));
    backdrop-filter: blur(1500px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 25px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    text-align: center;
    padding: 30px;
    width: 50%;
    height: 100%;
    margin-left: 430px;
    margin-top:200px;
     



    
    
    }

    #nome-sobrenome{
        display:flex;
        margin-bottom: 30px;
        justify-content: center;
        justify-content: space-evenly;
        
    
    }
    #endereco{
        align-items: center;
        margin-bottom: 50px;
    }
#telefone{
    justify-content: space-evenly;
    display: flex;
}

#botao-final{
    margin-top: 30px;
    padding: ;
    border-radius: 20px;
}
#botao-compra{
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(47, 255, 57, 0.918);
    border: 0;
    border-radius: 20px;
}

    input{ 
        border-radius: 10px;
        padding:  4px;
        
        
    }

    label{
     
    font-weight: bold;
    display: block;
    
    }
    #input-duplo{
display:block;

        
    }